{% extends 'after_login_base.html' %}

{% block title %}User{% endblock %}

{% block main %}
    <h3 class="page-title">Hello! {{ user }}</h3>
    <br>
    <div class="button-list">
        <div class="btn-group-vertical">
            <a href="{{ url_for('addSkill') }}" class="button">
                <button type="button" class="btn btn-outline-primary btn-block">addSkill</button>
            </a>
        </div>
        <div class="btn-group-vertical">
            <a href="{{ url_for('findJob') }}" class="button">
                <button type="button" class="btn btn-outline-primary btn-block">findJob</button>
            </a>
        </div>
    </div>
    <br>
{% endblock %}