{% extends 'after_login_base.html' %}

{% block title %}Job detail{% endblock %}

{% block main %}

    <form action="{{ url_for('findJob') }}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Skills</th>


            </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr>
                    <th scope="row">{{ skill.context}}</th>

                </tr>
            {% endfor %}


            </tbody>
        </table>
    </form>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mx-auto" role="group" aria-label="First group">
            {% for button in Buttons %}
                <a href="{{ button.href }}">
                    <button type="button" class="btn {{ button.class }}">{{ button.text }}</button>
                </a>
            {% endfor %}

        </div>
    </div>
{% endblock %}



